<div class="container">
  <a class="fake-link contact-information" (click)="openAction.emit()">
    <app-contact-image [image]="image" [name]="name"></app-contact-image>
    <p class="contact-name">{{ name }}</p>
  </a>
  <div class="contact-actions">
    <a class="fake-link" (click)="deleteAction.emit()">
      <img class="delete-icon" alt="Delete" src="assets/icons/icon-delete.svg">
    </a>
    <a class="fake-link" (click)="editAction.emit()">
      <img class="edit-icon" alt="Edit" src="assets/icons/icon-edit.svg">
    </a>
    <a class="fake-link action-favorite" (click)="favoriteAction.emit()">
      <img *ngIf="favorited"
        class="favorite-icon"
        alt="Remove from favorites"
        src="assets/icons/icon-heart-full.svg">
      <img *ngIf="!favorited"
        class="favorite-icon"
        alt="Add to favorites"
        src="assets/icons/icon-heart-empty.svg">
    </a>
  </div>
</div>
