<app-search-field (inputChange)="action.getContacts($event)"></app-search-field>
<app-contact-list>
<app-contact-add-box
  (openCreate)="router.navigate(['create'])"></app-contact-add-box>
  <template *ngFor="let contact of contacts | async">
    <app-contact-box
      [name]="contact.name"
      [favorited]="contact.favorited"
      [image]="contact.image"
      (onOpen)="router.navigate(['details', contact.id])"
      (onFavorite)="action.updateContact(contact.id, { favorited: !contact.favorited })"
      (onEdit)="router.navigate(['edit', contact.id])"
      (onDelete)="action.deleteContact(contact.id)"></app-contact-box>
  </template>
</app-contact-list>
