/**
 * Global Style Variables
 */

// Grid
$breakpoint: 600px;

// Typography
// Base font size and line height are defined in the styles.scss, "rem" unit should be used.
$font-family-base: 'Lato', sans-serif;

// Visuals
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #EAEAEA;
$color-gray-2: #E3E3E3;

$color-primary: #2DA1AD;
$color-inactive: #BBC4C3;

$color-gradient-light: #78C9CE;
$color-gradient-dark: #2496A2;

$header-background: linear-gradient(182.65deg, $color-gradient-light 0%, $color-gradient-dark 99.98%, $color-gradient-dark 100%);
$header-shadow: 0 2px 4px 0 rgba($color-black, 0.2);
