@import 'variables';

.fatal-message {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: $color-warning;
}

@media (min-width: $breakpoint) {
  .fatal-message {
    font-size: 14px;
  }
}
