@import 'variables';

header {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  background-color: $color-gradient-dark;
  background-image: $header-background;
  //box-shadow: $header-shadow;
}

@media (min-width: $breakpoint) {
  header {
    height: 60px;
  }
}

#logo {
  display: block;

  width: 150px;
}

@media (min-width: $breakpoint) {
  #logo {
    width: 180px;
  }
}

.bottom-line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 7px;

  background-color: rgba($color-white, 0.3);
  //box-shadow: $header-shadow;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.loading-message {
  text-align: center;
  font-weight: 700;
  color: $color-inactive;
}

.fatal-message {
  text-align: center;
  font-weight: 700;
  color: $color-primary;
}
