<app-loading-message *ngIf="!contact">Loading contact...</app-loading-message>
<app-contact-form
  *ngIf="contact"
  [name]="contact.name"
  [email]="contact.email"
  [numbers]="contact.numbers"
  [image]="contact.image"
  [favorited]="contact.favorited"
  [locked]="true"
  [hasBack]="true"
  [hasEdit]="true"
  [hasFavorite]="true"
  (backAction)="location.back()"
  (editAction)="router.navigate(['edit', contact.id])"
  (favoriteAction)="action.updateContact(contact.id, { favorited: !contact.favorited })"></app-contact-form>
