@import 'styles/variables';

/**
 * Reset
 */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;

  font-family: $font-family-base;
  font-size: 14px;
  line-height: 17px;

  background-color: $color-white;
  color: $color-black;
}

@media (min-width: $breakpoint) {
  html {
    font-size: 18px;
    line-height: 22px;
  }
}

body {
  min-height: 100%;
}
