@import 'variables';

img {
  display: block;

  width: 44px;
  height: 44px;

  border: 3px solid rgba($color-inactive, 0.3);
  border-radius: 100%;

  &.large {
    width: 156px;
    height: 156px;
    margin: 0 auto;
  }
}

@media (min-width: $breakpoint) {
  img {
    width: 66px;
    height: 66px;
  }
}
